body{
    font-family: algerian;
    background-color:black;
}
#container{
    width:1000px;
    height:550px;
    background-image:url("4B.webp") ;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: cover;

}
#calculator{
    width:320px;
    height:520px;
    background-color:goldenrod;
    margin : 0 auto;
    top:20px;
    position:relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#keyboard{
    height:400px;

}
.operator,.empty,.number{
    width:50px;
    height:50px;
    margin:15px;
    float:left;
    border-radius:50%;
    border-width:0;
    font-weight:bold;
    font-size:15px;
}
.number,.empty,.operator{
    background-color: lightgoldenrodyellow;
}
.number,.operator{
    cursor:pointer;
}
.operator:focus,.number:focus,.empty:focus{
    outline:0;

}
.operator:active,.number:active{
    font-size:13px;
}
#result{
    height:120px;

}
#history{
    text-align:right;
    height:20px;
    margin : 0 20px;
    padding-top:20px;
    font-size: 15px;
    color: gold;
}
#output{
    text-align:right;
    height:60px;
    margin: 10px 20px ;
    font-size:30px;
}
button:nth-child(4){
    font-size:20px;
    background-color: aquamarine;

}
button:nth-child(8) {
    font-size: 20px;
    background-color:blue;

}
button:nth-child(12) {
    font-size: 20px;
    background-color: cyan;

}
button:nth-child(16) {
    font-size: 20px;
    background-color: coral;

}
button:nth-child(20) {
    font-size: 20px;
    background-color: yellow;

}
#head{
    color:rgb(225, 194, 17);
    font-size:50px;
    text-shadow: 2px 2px 4px ;
   background-color: brown;
    
}

